#page{
	-fx-background-color:white ;
	}
#header{
	-fx-background-color:#9DB6CF;
	-fx-background-radius:20;
}
#btnretourner{
	-fx-background-color:white;
	-fx-background-radius:20;
	-fx-cursor:hand ;
}